<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container-fluid d-flex justify-content-between">
            <a href="#" class="row navbar-brand d-flex align-items-center">
                <strong>Guide Nginx Sample</strong>
            </a>
        </div>
    </div>
</header>
<main class="container-fluid">
    <section class="row">
        <div class="col-sm-12">
            <h3 class="mb-3">
                Recursos Disponíveis
            </h3>
            <ul class="list-inline" *ngIf="isNginx">
                <li class="list-inline-item">
                    <button type="button" class="btn btn btn-outline-primary" (click)="getHealthCheck()">
                        GET /healthcheck
                    </button>
                </li>
                <li class="list-inline-item">
                    <button type="button" class="btn btn-outline-primary" (click)="getServiceStatus()">
                        GET /service_status
                    </button>
                </li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <button type="button" class="btn btn btn-outline-primary" (click)="getTokenSample()">
                        POST /auth/users/login
                    </button>
                </li>
                <li class="list-inline-item" *ngIf="accessToken">
                    <button type="button" class="btn btn btn-outline-primary" (click)="getUserIdentityClasses()">
                        GET /api/org_unit_user_identity/1.0.0/classes
                    </button>
                </li>
            </ul>
        </div>
        <div class="col-sm-12" *ngIf="result">
            <div class="col-sm-12">
                <p>
                    <code>
                        {{result | json}}
                    </code>
                </p>
            </div>
        </div>
    </section>
</main>